@charset "UTF-8";
/* CSS Document */

html {
	overflow-y: scroll;
}
img {
	border: 0;
}
header, footer, nav, section, article, aside {
display:block;
}

body{
	min-width:100%;
	color: #333333;
	font-size:1.0em;
	text-align: left;
	line-height: 1.6em;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	position: relative;
}
@media only screen and (max-width: 768px) {
body{
	min-width:100%;
}
}
.pc-only{
	display:block;
}
.sp-only{
	display:none;
}
@media only screen and (max-width: 768px) {
.pc-only{
	display:none;
}
.sp-only{
	display:block;
}
}


/*-----------------------------------------------------------
	テーブルスタイル
-----------------------------------------------------------*/
.tableStyle{
	width: 100%;
	border-collapse: collapse;
    border-spacing:0;
	border:solid 1px #ccc;
	margin-top: 20px;
}
@media only screen and (max-width: 765px) {
.tableStyle{
	border-top:0;
	font-size:12px;
}
}
.tableStyle th,
.tableStyle td{
	border:solid 1px #ccc;
	text-align: left;
	padding:0.8em 2.0em;
	vertical-align:middle;
}
@media only screen and (max-width: 765px) {
.tableStyle th,
.tableStyle td{
	border-left:0;
	border-right:0;
	border-bottom:0;
	box-sizing: border-box;
	width:100%;
	display:block;
}
}
.tableStyle th{
	text-align: left;
	background-color:#f5f6f7;
	width:240px;
}
@media only screen and (max-width: 765px) {
.tableStyle th{
	width:100%;
}
}




.tableStyle2{
	width: 100%;
	border-collapse: collapse;
    border-spacing:0;
	border:solid 1px #999;
	margin-top: 20px;
}
@media only screen and (max-width: 768px) {
.tableStyle2{
	border-top:0;
	font-size:12px;
}
}
.tableStyle2 th,
.tableStyle2 td{
	border:solid 1px #ccc;
	text-align: left;
	padding:0.8em 2.0em;
	vertical-align:middle;
}
.tableStyle2 th{
	text-align: left;
	background-color:#f5f6f7;
}



/*--フォーム--*/
.formTableStyle input[type=text]{
	box-sizing: border-box;
    display: inline-block;
    width: 99%;
    padding: 5px 10px;
    border: none;
    background-color: #ECECEC;
}
.formTableStyle input[type=text].label{
	width:calc(99% - 12.0em);
}
.formTableStyle textarea{
	width:100%;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
  -moz-appearance:textfield;
}

/*-----------------------------------------------------------
	ボタンスタイル
-----------------------------------------------------------*/
.btnStyle{
	-webkit-appearance: none;
    display: block;
    background-color: #0072B9;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: left 20px center;
    font-weight:bold;
	font-size:16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    line-height: 3.5em;
    width: 280px;
	color:#fff;
	border:none;
	cursor:pointer;
	margin:30px auto 60px;
}
@media only screen and (max-width: 768px) {
.btnStyle{
    width: 80%;
    padding: 0 10%;
	text-align: center;
}
}
.btnStyle:hover{
    background-color:#09F;	
}



/*-----------------------------------------------------------
	ページTOPボタン
-----------------------------------------------------------*/
#pageTop {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index:9999;
	width:80px;
	height:80px;
}
#pageTop img{
	width:100%;
	height:auto;
}
@media only screen and (max-width: 768px) {
#pageTop {
	bottom:25px;
	right:15px;
	width:42px;
	height:42px;
}

}

/*-----------------------------------------------------------
		横並びの要素の高さを揃える
-----------------------------------------------------------*/
.flexbox{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-box;
    display:-webkit-flexbox;
    display:-moz-flexbox;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:flex;
    -webkit-box-lines:multiple;
    -moz-box-lines:multiple;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}

.flexbox{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.flexbox:after,
.flexbox:before{
  content:"";
  display:block;
  width: 23%;
  height:0;
}

.flexbox:before{
  order:1;
}

/*-----------------------------------------------------------
		common
-----------------------------------------------------------*/
/*-- unindent --*/
.un-ind01{
	text-indent:-1.0em;
	padding-left:1.0em;
	display:block;
}
.un-ind02{
	text-indent:-2.0em;
	padding-left:2.0em;
	display:block;
}
.un-ind03{
	text-indent:-3.0em;
	padding-left:3.0em;
	display:block;
}
.un-ind04{
	text-indent:-4.0em;
	padding-left:4.0em;
	display:block;
}
.un-ind05{
	text-indent:-5.0em;
	padding-left:5.0em;
	display:block;
}
.un-ind06{
	text-indent:-6.0em;
	padding-left:6.0em;
	display:block;
}
.un-ind07{
	text-indent:-7.0em;
	padding-left:7.0em;
	display:block;
}
/*-- text-align --*/
.txt-left { text-align: left   !important; }
.txt-right { text-align: right  !important; }
.txt-center { text-align: center !important; }

/*-- float --*/
.right { float: right !important; }
.left { float: left  !important; }
.clear { clear: both !important; }

/*-- font-size --*/
.fs08em { font-size: 0.8em !important; }
.fs10em { font-size: 1.0em !important; }
.fs15em { font-size: 1.5em !important; }
.fs20em { font-size: 2.0em !important; }
.fs25em { font-size: 2.5em !important; }
.fs30em { font-size: 3.0em !important; }
.fs35em { font-size: 3.5em !important; }
.fs40em { font-size: 4.0em !important; }
.fs45em { font-size: 4.5em !important; }
.fs50em { font-size: 5.0em !important; }

/*-- letter-spacing --*/
.ls00em{ letter-spacing:0.0em !important; }
.ls01em{ letter-spacing:0.1em !important; }
.ls02em{ letter-spacing:0.2em !important; }
.ls03em{ letter-spacing:0.3em !important; }
.ls04em{ letter-spacing:0.4em !important; }
.ls05em{ letter-spacing:0.5em !important; }
.ls06em{ letter-spacing:0.6em !important; }
.ls07em{ letter-spacing:0.7em !important; }
.ls08em{ letter-spacing:0.8em !important; }
.ls09em{ letter-spacing:0.9em !important; }
.ls10em{ letter-spacing:1.0em !important; }

/*-- margin-top --*/
.mt00 { margin-top:  0px !important; }
.mt05 { margin-top:  5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt60 { margin-top: 60px !important; }
.mt70 { margin-top: 70px !important; }
.mt80 { margin-top: 80px !important; }
.mt90 { margin-top: 90px !important; }
.mt100 { margin-top: 100px !important; }


/*-- margin-right --*/
.mr00 { margin-right:  0px !important; }
.mr05 { margin-right:  5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mr45 { margin-right: 45px !important; }
.mr50 { margin-right: 50px !important; }
.mr60 { margin-right: 60px !important; }
.mr70 { margin-right: 70px !important; }

 
 /*-- margin-bottom --*/
.mb00 { margin-bottom:  0px !important; }
.mb05 { margin-bottom:  5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb80 { margin-bottom: 80px !important; }
.mb90 { margin-bottom: 90px !important; }
.mb100 { margin-bottom: 100px !important; }

 
 /*-- margin-left --*/
.ml00 { margin-left:  0px !important; }
.ml05 { margin-left:  5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
.ml45 { margin-left: 45px !important; }
.ml50 { margin-left: 50px !important; }

/*-- padding-top --*/
.pt00 { padding-top:  0px !important; }
.pt05 { padding-top:  5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px !important; }
.pt45 { padding-top: 45px !important; }
.pt50 { padding-top: 50px !important; }

/*-- padding-right --*/
.pr00 { padding-right:  0px !important; }
.pr05 { padding-right:  5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }
.pr35 { padding-right: 35px !important; }
.pr40 { padding-right: 40px !important; }
.pr45 { padding-right: 45px !important; }
.pr50 { padding-right: 50px !important; }

/*-- padding-bottom --*/
.pb00 { padding-bottom:  0px !important; }
.pb05 { padding-bottom:  5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb45 { padding-bottom: 45px !important; }
.pb50 { padding-bottom: 50px !important; }

/*-- padding-left --*/
.pl00 { padding-left:  0px !important; }
.pl05 { padding-left:  5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
.pl35 { padding-left: 35px !important; }
.pl40 { padding-left: 40px !important; }
.pl45 { padding-left: 45px !important; }
.pl50 { padding-left: 50px !important; }
