@charset "utf-8";
* {
    margin: 0px;
  }
  html {
      font-size: 100%;
overflow:auto;
-webkit-box-sizing: border-box;
box-sizing: border-box;
scroll-behavior: smooth;
  }
body{
    font-family: Noto Sans JP, sans-serif, arial;
    line-height: 1.7;
    color: #333333;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    transition: 1.0s ;
    animation: bugfix infinite 1s;
    -webkit-animation: bugfix infinite 1s;
    background: #FFF;
}
  
a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  header{

    width: 100%;
    z-index: 1000;
  }
.fadein {
    opacity: 0;
    animation: fadein 6s ease forwards;
}
.top-view {
  /*display: flex;*/
  margin: 0 auto;
  width: fit-content;
}
.top-title01 {
  margin: 20px 0 0 0;
  z-index: 5;
  writing-mode: vertical-rl;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.top-title01 h1{
  
    font-size: 75px;
    font-weight: 900;
    line-height: 300%;
    letter-spacing: 0.1em
}
.top-title01 h1::first-letter{
  font-size: 1.5em;
}

.top-title02 {
  margin: 20px 0 0 0;
  z-index: 5;
  display: block;
}
.top-title02 h3 {
  margin: 20px 0 30px 0;
  font-size: 1rem;
  z-index: 5;
  text-align: center;
}
.top-title02 h3::before{
content:"";
display:block;
width:80px;
bottom:90px!important;
left:0!important;
}
.top-title02 h3::before{
content:"";
display:block;
width:80px;
bottom:90px!important;
left:0!important;
}
_::-webkit-full-page-media,
_:future,
:root .top-title01 {
  right: 80px;
}
@media screen and (max-width: 1100px) {
  .top-title01 {
    margin: 0 0 0 0;
    z-index: 5;
    writing-mode: vertical-rl;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  _::-webkit-full-page-media,
_:future,
:root .top-title01 {
  left: -40px;
}


  .top-title01 h1{
   
      font-size: 60px;
      font-weight: 900;
      line-height: 260%;
      letter-spacing: 0.1em
  }

  .business {
    display:flex;
    flex-wrap: wrap;
    margin: 60px 0 0 0;
    width: 100vw;
    background-color: #4E9BFF;
      padding-bottom: 15px;
  }
  .business p{
    display:flex;
    color:#fff;
    font-size: 5em;
    text-align: left;
  }
  .business-wrap {
    margin:0 auto;
    color:#fff;
    font-size: 1.5em;
  }
  .btn-business-wrap {
    display:flex;
    margin: 0 0 0 auto;
  }
  .business a{
    background-color: #ffffff;
    color: #444;
    display: block;
    border-radius: 20px;
    padding: 5px;
    margin: 15px;
    text-align: center;
    width: 20vw;
    border: 1px solid #444;
  }
  .business a:hover{
    opacity: .7;
  }
  .business-list{
    text-align: center;
    display:flex;
    font-family: sans-serif ;
    list-style: none;
    color:#000000;
    width: 90vw;
    padding: 10px 10px 10px 10px;
    height: auto;
    flex-wrap:wrap;
    margin-bottom: 10px;
  background:rgba(255,255,255,0.5);
  align-items: center;
  }

  .slider{
    width:100%;
    margin:0 auto;
  }
  
  /*------ スライダー画像 ------*/
  .slider img{
    width:60%;
    margin:0 auto;
  }
  
  /*-------- 高さ調整 ----------*/
  .slider .slick-slide{
    height:60%!important;
  }
  
  /*---------- 矢印 ----------*/
  .slider .slick-next{
      right:10px!important;
  
  }
  .slider .slick-prev{
      left:10px!important;
      z-index: 1;
  
  }
  .slider .slick-arrow{
      width: initial!important;
      height: initial!important;
      z-index:2!important;
  
  }
  .slider .slick-arrow:before{
      font-size: 30px!important;
    }

}


.btn-view {
  margin: 0 255px;
  display: flex;
  position: relative;
  margin-top: 0px;
  justify-content: center;
}
a.btn-top {
    padding: 0.7em;
    color: #fff !important;
    background: #4E9BFF;
    border-radius: 15px;
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 30px;
grid-row-gap: 5px;
    margin: 0px 0px 0px 0px;
    align-items: center;
    grid-template-columns: 150px 100px 220px;
    grid-template-rows: 17px 100px;
}
a.btn-top:hover{
  opacity: .7;
}
.div01 {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 1.5em;
  vertical-align:bottom;
}
.div02 {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 1em;
  text-align: right;
  vertical-align:bottom;
}
.div03 {
  grid-area: 2 / 1 / 3 / 3;
  font-size: 1.2em;
  vertical-align:bottom;
}
.div04 {
  grid-area: 1 / 3 / 3 / 4;
  display:flex;
  justify-content: center;
  align-items: center;
}
.message { 
  margin-left:25%;
  color: #000;

  font-size: 1.5em;
  font-family: sans-serif ;
  overflow-wrap: anywhere;
  flex-wrap: wrap;
  margin-top: 30px;
  }


  #overlay-button {
    position: fixed;
    right: 1em;
    top: 20px;
    padding: 26px 10px;
    z-index: 30;
    cursor: pointer;
    user-select: none;
  
  }
  #overlay-button span {
    height: 5px;
    width: 50px;
    border-radius: 2px;
    background-color: rgb(0, 0, 0);
    position: relative;
    display: block;
    transition: all .2s ease-in-out;
    top: -10px;
    
  }
  #overlay-button span:before {
    top: 16px;
    visibility: visible;
  }
  #overlay-button span:after {
    top: 33px;
  }
  #overlay-button span:before, #overlay-button span:after {
    height: 6px;
    width: 48px;
    border-radius: 2px;
    background-color:  rgb(0, 0, 0);
    position: absolute;
    content: "";
    transition: all .2s ease-in-out;
  }
  #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
    background:  rgb(0, 0, 0);
  }
  

  
  input[type=checkbox]:checked ~ #overlay {
    visibility: visible; 
    animation-name: sha;/*1で解説*/
animation-fill-mode:forwards;/*2で解説*/
animation-duration:0.5s;/*3で解説*/
animation-iteration-count:1;/*4で解説*/
animation-timing-function:ease;/*5で解説*/
animation-direction:normal;/*7で解説*/
  }
  
  input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
    background: transparent;
    animation-fill-mode:forwards;/*2で解説*/
animation-duration:0.5s;/*3で解説*/
animation-iteration-count:1;/*4で解説*/
animation-timing-function:ease;/*5で解説*/
animation-direction:normal;/*7で解説*/
  }
    
  
  input[type=checkbox]:checked ~ #overlay-button span:before {
    transform: rotate(45deg) translate(7px, 5px);
    animation-fill-mode:forwards;/*2で解説*/
    animation-duration:0.5s;/*3で解説*/
    animation-iteration-count:1;/*4で解説*/
    animation-timing-function:ease;/*5で解説*/
    animation-direction:normal;/*7で解説*/
      }
  
  input[type=checkbox]:checked ~ #overlay-button span:after {
    transform: rotate(-45deg) translate(7px, -5px);
  
  
    animation-fill-mode:forwards;/*2で解説*/
    animation-duration:0.5s;/*3で解説*/
    animation-iteration-count:1;/*4で解説*/
    animation-timing-function:ease;/*5で解説*/
    animation-direction:normal;/*7で解説*/
      }

      input[type=checkbox]#overlay-input{
        display: none; 
        
      }


/*1で解説*/
@keyframes sha{
  0% {
    opacity: 0;
  }
}
#overlay {
  width: 100vw;
  height: 110vh;
  background: #4E9BFF;
  z-index: 2;
  visibility: hidden;
  position: fixed;
  margin-top: -90px;
  color: #fff!important;
  text-decoration: none;
  font-size: 1rem;
}

  #overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
    list-style-type: none;
    transition: transform 1s linear 0s;
    color: #fff!important;
    margin-top: 110px;
  }
  #overlay ul li {
    padding: 1em;
  }
  #overlay ul li a {
    color: #fff!important;
    text-decoration: none;
    font-size: 1rem;
  }
  #overlay ul li a:hover {
    color: #000!important;
  }
  .overlay-sns img{
    max-width:30px;
    margin: 20px 20px;
    }
    .sns{
    gap: 5px;
    top: 65%;
    right:30px;
    display: none;
    }

@keyframes fadein {
    100% {  opacity: 1;}
}

.txt01 {
  animation-delay: 1s;
  line-height: 3em;
}
.txt02 {animation-delay: 2s;}
.txt03 {animation-delay: 3s;}
.txt04 {animation-delay: 4s;}
.txt05 {animation-delay: 5s;}
.txt06 {animation-delay: 6s;}
.txt07 {animation-delay: 7s;}
.txt08 {animation-delay: 8s;}

a.entry-button {
  width: 120px;
  height: 120px;
  line-height: 120px;
  background-image: linear-gradient(to top, #ffffff 0%, #ffffff 80%, #ffffff 100%);
  border-radius: 50%;
  color: #000000!important;
  text-shadow: 0 1px #fff;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  border: 5px solid #000000;
  font-family: sans-serif;
  transition: all 0.2s ease;
  z-index: 5;
  position:fixed;	
bottom:60px;
right:60px;
font-weight: 700;
}
a.entry-button:hover {
  transform: scale(1.2);
}

a.entry-button:active {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

a.entry-button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}





/*ヘッダー～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～*/
.rectuit-logo{
    max-width: 230px;
    margin: 2em -200px -2em 2em;
}
.navigation{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.navigation a{
    font-size: 0.8em;
}

@media screen and (max-width: 980px) {
  .overlay-sns img{
    max-width:30px;
    }
    .sns{
    gap: 5px;
    top: 60%;
    display: none;
    }
}
.sns{
  display:flex;
  position: absolute;
  gap: 20px;
  right:80px;
  top: 35px;
  z-index:999;
  align-items: center;
  }
  
.sns img{
max-width:35px;
align-items: center;
  }
.sns a{
padding:2px;
}
  
.sns img:hover{
 opacity: 0.5;
 transition: 0.3s ;
 }
@media screen and (max-width: 980px) {

.sns{
gap: 5px;
top: 60%;
display: none;
}
}

#fixed-header { 
  width: 100%;
  transition: .5s;
  box-sizing: border-box;
  z-index: 5;

}

      .news-container{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-column-gap: 3rem;
        padding: 0 3rem;
            max-width: 1200px;
            margin: 0 auto;
			}
      .news-block a img{
        border: 1px solid #777777;
        }
            @media screen and (max-width: 550px) {
                
                .news-container{ grid-template-columns: 1fr;padding: 0 1.5rem;}
            }
            .news-block a{
                color: #333;
            }
			.news-block a:hover{
				opacity: .7;
			}
			.news-block a img{
width: 100%;
height: auto;
			}
			.news-block a h2{
				font-size: 1rem;
				margin: .75rem 0 0 0;
			}
			.news-block a p{
				font-size: 1rem;
				margin: .75rem 0 0 0;
				text-align: right;
			}
            @media screen and (max-width: 550px) {
                .news-block a p{margin-top: .5rem;}
                .news-block a h2{margin-top: .5rem;}
            }
            
      
 .btn-viewmore a {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  width: 150px;
  color: #4E9BFF;
  font-size: 1em;
  font-weight: 700;
  border-top: 2px solid #4E9BFF;
  border-bottom: 2px solid #4E9BFF;
    margin-left: auto;
margin-right:5%;
margin-top: 30px;
}
.btn-viewmore a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #4E9BFF;
  border-right: 3px solid #4E9BFF;
  transform: rotate(45deg);
}
.btn-viewmore a:hover {
  color: #333333;
  text-decoration: none;
}
.btn-viewmore a:hover::after {
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
}
.business {
  display:flex;
  flex-wrap: wrap;
  margin: 60px 0 0 0;
  width: 100vw;
  background-color: #4E9BFF;
    padding-bottom: 15px;
}
.business p{
  display:flex;
  color:#fff;
  font-size: 5em;
  text-align: left;
}
.business-wrap {
  margin:0 auto;
  color:#fff;
  font-size: 7vw;
}
.btn-business-wrap {
  display:flex;
  margin: 0 0 0 auto;
}
.business a{
  background-color: #ffffff;
  font-size: 1em;
  color: #444;
  display: block;
  border-radius: 20px;
  padding: 5px;
  margin: 15px;
  text-align: center;
  width: 20vw;
  border: 1px solid #444;
}
.business a:hover{
  opacity: .7;
}
.business-list{
  text-align: center;
  display:flex;
  font-family: sans-serif ;
  list-style: none;
  color:#000000;
  font-size: 0.2em;
  width: 90vw;
  padding: 10px 10px 10px 10px;
  height: auto;
  flex-wrap:wrap;
  margin-bottom: 10px;
background:rgba(255,255,255,0.5);
align-items: center;
}
.interview {
  width:100%;
  flex-wrap: wrap;
  margin:0 auto;
  background-color: #4E9BFF;
    padding-bottom: 30px;
}
.interview-wrap {
  color:#fff;
  font-size: 5em;
}
.slider{
  width:100%;
  margin:0 auto;
}


/*------ スライダー画像 ------*/
.slider img{
	width:80%;
  margin:0 auto;
}
.slider a:hover{
  opacity: .7;
}
/*-------- 高さ調整 ----------*/
.slider .slick-slide{
	height:auto!important;
}

/*---------- 矢印 ----------*/
.slider .slick-next{
    right:20%!important;
    margin-right: 0.1vw!important;
    margin-left: 0.1vw!important;

}
.slider .slick-prev{
    left:20%!important;
    z-index: 1;

}
.slider .slick-arrow{
    width: initial!important;
    height: initial!important;
    z-index:2!important;

}
.slider .slick-arrow:before{
    font-size: 50px!important;
  }

    .interview-btn-viewmore a {
      display: flex;
      background-color: #fff;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em 1em;
      width: 150px;
      color: #4E9BFF;
      font-size: 1em;
      font-weight: 700;
      border-top: 2px solid #4E9BFF;
      border-bottom: 2px solid #4E9BFF;
      margin-left: auto;
    margin-right:80px;
    margin-top: 30px;
    }
    
    .interview-btn-viewmore a::after {
      content: '';
      width: 5px;
      height: 5px;
      border-top: 3px solid #4E9BFF;
      border-right: 3px solid #4E9BFF;
      transform: rotate(45deg);
    }
    
    .interview-btn-viewmore a:hover {
      color: #333333;
      text-decoration: none;
  
    }
    
    .interview-btn-viewmore a:hover::after {
      border-top: 3px solid #333333;
      border-right: 3px solid #333333;
    }
.inner{
	width:800px;
	margin:60px auto;
}

.inner1000{
  width:65%;
  box-sizing: border-box;
  margin: 60px 20%;
  }	
  .inner1000 img {
    width: 100%;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  }
.inner1000 a:hover{
  opacity: .7;
}
#gaiyo {
    margin: 0 auto;
    margin-top: 70px;
    background-color: #FFF !important;
    width: 100%;
    max-width: 1000px;
     
}

.company-info {
   display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}
.company-info li{
  list-style: none;
width:266px;
height:275px;
margin-left:0px;
font-size:12px;
display: list-item;
text-align: -webkit-match-parent;
}
.company-info li a{
display:block;
width:266px;
height:275px;
background-color:#fff;
}
.company-info li a:link{
color:#333;
text-decoration: none;
}
.company-info li a:visited {
color:#333;
text-decoration: none;
}
.company-info li a:hover{
color:#333;
}
.company-info li:first-child{
margin-left:0;
}
.company-info li span{
display:block;
text-align:center;
font-size:16px;
font-weight:bold;
margin:15px 0 0; 
}
.company-info li p{
padding:10px 20px 20px;
font-size: 16px
}
#icon{
	overflow:hidden;
	margin-top:60px;
}
.icon-menu{
  margin-top:20px;
}
.icon-menu li{
	float:left;
	color:#333;
	width:176px;
	height:176px;
	font-size:12px;
	text-align:center;
	margin-left:32px;
}
.icon-menu li:first-child{
	margin-left:0;
}
.icon-menu li a{
	display:block;
	width:176px;
	height:176px;
	background-color:#fff;
}
.icon-menu li a:link{
	color:#333;
	text-decoration: none;
}
.icon-menu li a:visited {
	color:#333;
	text-decoration: none;
}
.icon-menu li a:hover{
	color:#333;
}
.icon-menu li a img{
	margin-top:15px;
}
.icon-menu li a p{
	padding:-200px;
}
#video {
  width: 65%;
  box-sizing: border-box;
  margin: 30px 20%;
}
.video {
  width: 100%;
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #000000;
border-right: 2px solid #000000;
}
.company-info li p {
  padding: 10px 20px 20px;
  font-size: 16px;
}
.top-svg{
  position: relative;
  position: absolute;
  z-index: -100;
    width: 700px;
    right: -250px;
    top: -300px;
}
.top-svg-left{
  position: absolute;
  width: 70vw;
  z-index: -1;
  left: -25%;
  top: 7%;
}
.pink-svg1{
  position: absolute;
  width: 70%;
  z-index: -100;
  left: 60%;
  top: 20%;
}
.green-svg1{
  position: absolute;
  width: 70%;
  z-index: -1;
  left: -28%;
  top: 35%;
}
.blue-svg{
  position: absolute;
  z-index: -100;
    width: 95%;
    left: 55%;
    top: 50%;
}
.yello-svg{
  position: absolute;
  width: 70%;
  z-index: -1;
  left: -28%;
  top: 70%;
}
#footer{
	text-align:center;	
	background-color:#fc3;
	margin-top: 30px;
}
#footer-logo img {
  margin: 20px 0;
}
#footer-nav li a:link {
  color: #333;
  text-decoration: none;
}
#footer-nav li {
  margin: 0 2em;
}
#footer-nav li a {
  color: #333;
}

#copyright {
  color: #333;
  text-align:center;	
	margin: 20px 0 0 0;
  padding-bottom: 50px;
}
@media screen and (min-width: 541px){
#footer-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

}
@media only screen and (max-width: 540px){
#footer-nav ul {
    position: inherit;
    left: 0;
    margin-left: 0;
}
#footer-nav li {
  float: none;
  margin: 0;
  text-align: center;
  background-color: #fc3;
  /* border-bottom: solid 1px #fff; */
  font-size: 14px;
  /* background-image: url(../images/common/arrow.png); */
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: left 5px center;
}
}


  @media screen and (max-width: 550px) {
    .business {
      display: flex;
      flex-wrap: wrap;
      margin: 0 calc(50% - 50vw);
      width: 100vw;
      background-color: #4E9BFF;
        padding-bottom: 15px;
   margin-top: 30px;
    }
    .business-wrap {
      color:#fff;
      font-size: 7vw;
    }
    .business p{
      display:flex;
      color:#fff;
      font-size: 5em;
      text-align: left;
    }
    .business a{
      background-color: #ffffff;
      font-size: 1rem;
      color: #444;
      display: block;
      justify-content: center;
      border-radius: 20px;
      padding: 5px;
      margin: 5px;
      text-align: center;
      border: 2px solid #444;
    }
    .business-list{
      font-family: sans-serif ;
      list-style: none;
      color:#000000;
      font-size: 1rem;
      width: 70vw;
      padding: 5px 10px 10px 10px;

      height: auto;
      flex-wrap: wrap;
      margin-bottom: 10px;
    background:rgba(255,255,255,0.5);
    }
    
   
}


    .side_link {
      position: fixed;
      right: 0;
      top: 45%;
      z-index: 7;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      -webkit-transition: right 0.4s ease;
      transition: right 0.4s ease;
      text-align: center;
      justify-content: center;
      writing-mode: vertical-rl;
      background: #ff8100;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      width: 48px;
      height: 240px;
      align-items: center;
    }
    .sidetext {
      margin-right: 12px;
    }
    
    .side_link._hide {
      right: -138px;
    }
    
    .side_link a {
      font-weight: 700;
      line-height: 1;
      font-size: 15px;
      color: #fff;
      /*display: flex;*/
      

      /*-webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;*/
      
    }
    
    .side_link a:hover{
      opacity: .7;
    }
    
    .side_link li:nth-child(2) a {
      background: #E3C520;
    }
    
    .side_link p {
      width: 1em;
      font-weight: inherit;
    }
    
    .side_link span {
      display: inline-block;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      font-weight: inherit;
    }
    
    .side_link ._small {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
   

    
    .title h2 {
      font-size: 5em;
      overflow-wrap: anywhere;
      flex-wrap: wrap;
      font-weight: 700;
      color: #4E9BFF;
      margin-top: 40px;
  }

@media screen and (max-width: 550px) {
.top-svg{
  position: relative;
  position: absolute;
    z-index: -100;
    width: 95%;
    left: 56%;
    top: -3%;
}
.top-svg-left{
  position: absolute;
  width: 95%;
  z-index: -1;
  left: -45%;
  top: 5%;
}
.pink-svg1{
  position: absolute;
  width: 95%;
  z-index: -100;
  left: 65%;
  top: 17%;
}
.green-svg1{
  position: absolute;
  width: 95%;
  z-index: -1;
  left: -28%;
  top: 35%;
}

}
@media screen and (max-width: 980px) {

}

  @keyframes fadeInAnime{
    from {
      opacity: 0;
      transition: 1.2s ease-in-out;
  transform: translateY(60px);
  animation-delay: 1s;
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
.fadeIn{
  animation-name:fadeInAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
  }
#header{
transition: 1.0s ;
position: sticky;
  top: 0;
}
  
  
  /*スマホまとめ**/
  @media screen and (max-width: 550px) {

    .title h2 {
      font-size: 2em;
      overflow-wrap: anywhere;
      flex-wrap: wrap;
      font-weight: 700;
      color: #4E9BFF;
      margin-top: 50px;
    }
    


    .top-view {
      /*display: flex;*/
      margin: 0 auto;
      width: fit-content;
    }

    .top-title01{
        margin: 0 0 0 4%;
        z-index:5;
        writing-mode: vertical-rl;
        position: relative;
        display: inline-block;
        vertical-align: middle;
      }
   
    


    .top-title01 h1{
      
        font-size: 40px;
        font-weight: 900;
        line-height: 260%;
        letter-spacing: 0.1em
    }
    .top-title01 h1::first-letter{
      font-size: 1.5em;
    }
    
    .top-title02 {
      margin: 10px 0 0 0;
      z-index: 5;
      display: block;
    }
    .top-title02 h3 {
      margin: 10px 0 10px 0;
      font-size: 1rem;
      z-index: 5;
      text-align: center;
    }
    
    
    .btn-view{
      margin: 20px 20px 0px 10px;
    
      display: flex;
      position: relative;
      margin-top: 0px;
      justify-content: center;
    }
    a.btn-top{
      padding: 1em;
      color: #fff !important;
      background: #4E9BFF;
      text-decoration: none;
      font-size:14px;
      text-decoration:none !important;
      border-radius: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    margin: 0px 0px 0px 0px;
    align-items: center;
    grid-template-columns: 120px 120px;
    grid-template-rows: 10px 50px 140px;
      }
      a.btn-top:hover{
        opacity: .7;
      }
      .div01 { 
        grid-area: 1 / 1 / 2 / 2;
        font-size: 1em;
        vertical-align:middle;
      }
      .div02 {
        grid-area: 1 / 2 / 2 / 3; 
        font-size: 1em;
    
         text-align: right;
        }
      .div03 {
        grid-area: 2 / 1 / 3 / 3;
        font-size: 1.0em;
        line-height:15px;
         text-align: left;
         vertical-align:middle;
         }
      .div04 {
        grid-area: 3 / 1 / 4 / 3; 
        }
      
        .rectuit-logo {
          max-width: 180px;
          margin: 20px;
      }
        .message {
          margin-left: 3.5rem;
          color: #000;
          font-size: 0.9em;
          font-family: sans-serif ;
          overflow-wrap: anywhere;
          flex-wrap: wrap;
          z-index: 2;
          margin-top: 20px;
          
        }
        .txt01 {
          animation-delay: 1s;
          line-height: 2.5em;
          font-size: 0.8em;
        }
    
    
    a.btn-top:after {
      content: "";
      display: inline-block;
    
      background-size: contain;
      vertical-align: middle;
      
    }
    
    #gaiyo{
      margin-top: 60px;
      padding: 0 3rem;
    }

    
  .company-info{
    overflow:hidden;
    
  }
  
  .company-info li{
    float:left;
    width:100%;
    height:auto;
    margin-left:0;
    font-size:10px;
    margin-bottom:20px;
  }
  .company-info li a{
    display:block;
    width:80%;
    height:auto;
    background-color:#fff;
  }
  .company-info li a:link{
    color:#333;
    text-decoration: none;
  }
  .company-info li a:visited {
    color:#333;
    text-decoration: none;
  }
  .company-info li a:hover{
    color:#333;
  }
  .company-info li:first-child{
    margin-left:0;
  }
  .company-info li span{
    display:block;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    margin:15px 0 0; 
  }
  .company-info li p{
    padding:5px 14px 10px;
    font-size: 15px
    
  }
  #icon{
    overflow:hidden;
    margin-top:10px;
    padding: 0 3rem;
        display: flex
  }
  
  .icon-menu{
  }
  .icon-menu li{
    float:left;
    color:#333;
    width:48%;
    height:auto;
    font-size:10px;
    text-align:center;
    margin-left:4%;
    margin-bottom:10px;
  }
  .icon-menu li:first-child{
    margin-left:0;
  }
  .icon-menu li:nth-child(3n){
    margin-left:0;
  }
  .icon-menu li br{
    display:none;
  }
  .icon-menu li a{
    display:block;
    width:100%;
    height:auto;
    background-color:#fff;
  }
  .icon-menu li a:link{
    color:#333;
    text-decoration: none;
  }
  .icon-menu li a:visited {
    color:#333;
    text-decoration: none;
  }
  .icon-menu li a:hover{
    color:#333;
  }
  .icon-menu li a img{
    margin:0 20%;
    margin-top:15px;
  }
  .icon-menu li a p{
    padding:10px;
    text-align:left;
    text-align:justify;
  }
  #overlay {
    width: 100vw;
    height: 150vh;
    background: #4E9BFF;
    z-index: 2;
    visibility: hidden;
    position: fixed;
    
  }

  #overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
    list-style-type: none;
    margin: 100px auto;
  }

  #overlay ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
    .news-container{ 
      grid-template-columns: 1fr;
      padding: 0 3.5rem;
      grid-row-gap: 3rem;
    }

    #video {
      width: 80%;
      box-sizing: border-box;
      margin: 20px 10%;
    }
    .subpage-column2 iframe{
      width: 100%;
  
    }
    a.entry-button {
      width: 80px;
      height: 80px;
      line-height: 80px;
      background-image: linear-gradient(to top, #ffffff 0%, #ffffff 80%, #ffffff 100%);
      border-radius: 50%;
      color: #000000;
      text-shadow: 0 1px #fff;
      text-align: center;
      font-size: 1rem;
      font-weight: 700;
      cursor: pointer;
      border: 5px solid #000000;
      font-family: sans-serif;
      transition: all 0.2s ease;
      z-index: 5;
      position:fixed;	
    bottom:10px;
    right:10px;
    font-weight: 700;
    }
    a.entry-button:hover {
      transform: scale(1.1);
    }
    
    a.entry-button:active {
      box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }
    
    a.entry-button:focus {
      box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }


    .side_link {
      position: fixed;
      right: 0;
      top: 50%;
      z-index: 7;
      width: 25px;
      height: 180px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      -webkit-transition: right 0.4s ease;
      transition: right 0.4s ease;
      opacity: .8;
    }
    
    .side_link._hide {
      right: -138px;
    }
    
    .side_link a {
      background: #ff8100;
      
      
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      writing-mode: vertical-rl;
color: #FFF!important;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-weight: 700;
      line-height: 1;
      font-size: 13px;
      color: #fff;
      text-align: center;
      text-decoration:none!important;

    }
    
    
    .side_link a:hover{
      opacity: .5;
    }
    
    .sidetext {
      margin-right: 2px;
    }
    
    .side_link span {
      display: inline-block;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      font-weight: inherit;
    }
    
    .side_link ._small {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    .tb_block {
      display: none;
    }
    .slider{
      width:100%;
      margin:0 auto;
    }
    
    /*------ スライダー画像 ------*/
    .slider img{
      width:37%;
      margin:0 auto;
    }
    
    /*-------- 高さ調整 ----------*/
    .slider .slick-slide{
      height:37%!important;
    }
    
    /*---------- 矢印 ----------*/
    .slider .slick-next{
        right:0px!important;
    
    }
    .slider .slick-prev{
        left:0px!important;
        z-index: 1;
    
    }
    .slider .slick-arrow{
        width: initial!important;
        height: initial!important;
        z-index:2!important;
    
    }
    .slider .slick-arrow:before{
        font-size: 30px!important;
      }

      .btn-viewmore a {
        display: flex;
        background-color: #fff;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 1em;
        width: 100px;
        color: #4E9BFF;
        font-size: 1em;
        font-weight: 700;
        border-top: 2px solid #4E9BFF;
        border-bottom: 2px solid #4E9BFF;
          margin-left: auto;
      margin-right:3.5rem;
      margin-top: 30px;
      }
      .btn-viewmore a::after {
        content: '';
        width: 5px;
        height: 5px;
        border-top: 3px solid #4E9BFF;
        border-right: 3px solid #4E9BFF;
        transform: rotate(45deg);
      }
      .btn-viewmore a:hover {
        color: #333333;
        text-decoration: none;
      }
      .btn-viewmore a:hover::after {
        border-top: 3px solid #333333;
        border-right: 3px solid #333333;
      }
      .interview-btn-viewmore a {
        display: flex;
        background-color: #fff;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 1em;
        width: 100px;
        color: #4E9BFF;
        font-size: 1em;
        font-weight: 700;
        border-top: 2px solid #4E9BFF;
        border-bottom: 2px solid #4E9BFF;
        margin-left: auto;
      margin-right:50px;
      margin-top: 2%;
      }
      
      .interview-btn-viewmore a::after {
        content: '';
        width: 5px;
        height: 5px;
        border-top: 3px solid #4E9BFF;
        border-right: 3px solid #4E9BFF;
        transform: rotate(45deg);
      }
      
      .interview-btn-viewmore a:hover {
        color: #333333;
        text-decoration: none;
    
      }
      
      .interview-btn-viewmore a:hover::after {
        border-top: 3px solid #333333;
        border-right: 3px solid #333333;
      }
    
  @keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }

  #overlay-button {
    right: 1em;
    top: 0px;
    padding: 26px 10px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
  }
  #overlay-button span {
    position: fixed;
    height: 3px;
    width: 35px;
    border-radius: 2px;
    background-color:  rgb(0, 0, 0);
    position: relative;
    display: block;
    transition: all .2s ease-in-out;
    top: 0px;
  }
  #overlay-button span:before {
    top: 13px;
    visibility: visible;
  }
  #overlay-button span:after {
    top: 29px;
  }
  #overlay-button span:before, #overlay-button span:after {
    height: 3px;
    width: 35px;
    border-radius: 2px;
    background-color:  rgb(0, 0, 0);
    position: absolute;
    content: "";
    transition: all .2s ease-in-out;
  }
  #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
    background:  rgb(0, 0, 0);
  }
  
  input[type=checkbox]#overlay-input {
    display: none; 
    
  }
  
  input[type=checkbox]:checked ~ #overlay {
    visibility: visible; 
  }
  
  input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
    background: transparent;
    
    
  }
  input[type=checkbox]:checked ~ #overlay-button span:before {
    transform: rotate(45deg) translate(7px, 5px);
  
  }
  input[type=checkbox]:checked ~ #overlay-button span:after {
    transform: rotate(-45deg) translate(7px, -5px);
  
  
  }

  #overlay ul li {
    padding: 0.5em!important;
  }
  #overlay ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    line-height: 1em;
  }
  #overlay ul li a:hover {
    color: #000!important;
  }
  .overlay-sns {
    margin-top: 20px;
  }
  .overlay-sns img{
    max-width:25px;
    margin: 10px 10px;
    }

.interview {
  flex-wrap: wrap;
  margin:0 auto;
  width: 100vw;
  background-color: #4E9BFF;
  padding-bottom: 10px;

}
.interview-wrap {
  color:#fff;
  font-size: 2em;
}

}
    
    
@media screen and (max-width: 540px){
#icon {
    overflow: hidden;
    margin-top: 10px;
}
.inner{
	margin:0 auto;
}
.inner1000{
	width: 80%;
box-sizing: border-box;
margin: 20px 10%;
}
.inner1000 img {
  width: 100%;
border-bottom: 2px solid #000000;
border-right: 2px solid #000000;
}
.inner1000 a:hover{
  opacity: .7;
}
}
        @media screen and (max-width: 550px) {
          .business-list{
          flex-direction: column;}
          .business-list li{
            align-self: baseline;
          }
        .business p{
  display:flex;
  color:#fff;
  font-size: 2em;
  text-align: left;
}
          .btn-business-wrap{ flex-direction: column;width: 100%;}
          .btn-business{width: 100%;
          max-width: 240px;
          margin: 0 auto;}
          .business a{
            box-sizing: border-box;
            width: 100%;
          }
        }
        .pagetop {
          height: 50px;
          width: 50px;
          position: fixed;
          left: 30px;
          bottom: 30px;
          background: #fff;
          border: solid 2px #000;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 2;
      }
      
      .pagetop__arrow {
          height: 10px;
          width: 10px;
          border-top: 3px solid #000;
          border-right: 3px solid #000;
          transform: translateY(20%) rotate(-45deg);
      }
      @media (hover: hover) and (pointer: fine) {
        .pagetop:hover, .pagetop:hover .pagetop__arrow {
            border-color: #3293e7;
        }
    }
/*-----------------------------------------------------------
	サブページ
-----------------------------------------------------------*/

.sub-heading {
  font-size: 20px;
  color: #5e5e5e;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 5px;
  padding: 0;
}


/*-----------------------------------------------------------
		内部
-----------------------------------------------------------*/
.inner{
	width:800px;
	margin:0 auto;
}

/*-----------------------------------------------------------
		ヘッダー
-----------------------------------------------------------*/

/*-- ロゴ --*/
/*-- グローバルナビゲーション --*/


/*-----------------------------------------------------------
	スマホメニュー
-----------------------------------------------------------
#menu{
	width:100%;
	display: block;
	position:fixed;
	left:0;
	top:60px;
	z-index:9999;
}*/
/*#sp-menu{
	display: none;
	border-top: solid 1px #eee;
}*/

/*#sp-menu li:nth-child(2n){
	border-left: solid 1px #eee;
}*/

/*-----------------------------------------------------------
		お知らせ
-----------------------------------------------------------*/

/*-----------------------------------------------------------
		サブタイトル
-----------------------------------------------------------*/

    #subpage-title {
    color: #ffffffeb;
   /* background-image: url(../images/subbg01.jpg);*/
    background-attachment: fixed;
    text-align: center;
    position: relative;
	object-position: 0 100%;
	background-repeat: no-repeat;
	}
	
	#subpage-title .inner{
    /*background: rgba(2,119,189,0.5);*/
    padding: 5% 0 0;
	width: 100%;
    margin: auto;
	height: 170px;
	}
	
	#subpage-title .inner h1{
	font-size: 3.2rem;
     color: #118efd;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
	margin-top: 37px;
	letter-spacing: 3px;
	/*text-shadow: 1px 1px 20px #444;*/
	border-bottom: 1.5px solid #636363;
  }
/*-----------------------------------------------------------
		サブページコンテンツ
-----------------------------------------------------------*/
.fluid-block {
  position: absolute;
  background-image: url("images/title_left.png");
  z-index: -10;
  width: 150%;
  height: 300px;
  left: -518px;
  top: 52px;
  background-repeat: no-repeat;
}
.fluid-block2 {
  position: absolute;
  background-image: url("images/title_right.png");
  z-index: -10;
  width: 150%;
  height: 1200px;
  right: -110%;
  top: -799px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
  .fluid-block {
    position: absolute;
    background-image: url(images/title_left.png);
    z-index: -10;
    width: 1200px;
height: 300px;
left: -778px;
top: -51px;
    background-repeat: no-repeat;
}
.fluid-block2 {
  position: absolute;
  background-image: url(images/title_right.png);
  z-index: -10;
  width: 206%;
  height: 1200px;
  right: -132%;
  top: -900px;
  background-repeat: no-repeat;
}
}
	 /* レイアウト全体領域 */
   .subpage-contents {
     /* display: table; */
      width: 100%;
      max-width: 1000px;
      padding-top: 30px;
      margin: 0 auto;
	  font-size:1rem;
   }
   .subpage-contents h2{
	   color: #000;
       font-size: 2rem;
       font-weight: bold;
       margin-bottom: 10px;
	   text-align: center;
	   margin-top: 60px
	  }
   .subpage-contents h3{
	   color: #039;
       font-size: 1.5rem;
       font-weight: bold;
       margin-bottom: 10px;
	  }
 
   /* subpage-columnの装飾 */
   hr.bita-bar {
    width: 60px;
    height: 4px;
    background-color: #039;
    border: 0;
    outline: 0;
    margin-top: 16px;
    margin-bottom: 25px;
    position: relative;
    margin: auto;
}
@media (min-width: 768px){
hr.bita-bar {
    width: 100px;
    height: 5px;
    margin-top: 40px;
	} }
   /* subpage-column2の装飾 */
   /* サブページ背景ありの装飾 */
   
   /* 表のcss */
	/* 3カラム*/
	/* 2カラム*/

/*-----------------------------------------------------------
		採用情報表示・非表示ボタン
-----------------------------------------------------------*/
/*全体*/

/*ボタン装飾*/

/*ボタンホバー時*/

/*チェックは見えなくする*/

/*中身を非表示にしておく*/

/*クリックで中身表示*/
/*-----------------------------------------------------------
		社員紹介
-----------------------------------------------------------*/




/*新人紹介*/
 /* subpage-columnの装飾 */
/* subpage-column2の装飾 */

@media screen and (max-width: 768px) {
 /* subpage-columnの装飾 */
/* subpage-column2の装飾 */
}


/*インタビュー動画紹介*/
 /* subpage-columnの装飾 */
/* subpage-column2の装飾 */

@media screen and (max-width: 768px) {
 /* subpage-columnの装飾 */
/* subpage-column2の装飾 */
}

/*-----------------------------------------------------------
		PROJECTSTORY表示・非表示ボタン
-----------------------------------------------------------*/

/*全体*/

/*ボタン装飾*/

/*ボタンホバー時*/

/*チェックは見えなくする*/

/*中身を非表示にしておく*/

/*クリックで中身表示*/
@media screen and (max-width: 768px) {
/*タブレット、スマホの場合*/
}
/*-----------------------------------------------------------
		PROJECTSTORYページ 2カラムレイアウト
-----------------------------------------------------------*/
 /*-----------------------------------------------------------
		PROJECTSTORYページ 2カラムレイアウト　スマホ　767px以下
-----------------------------------------------------------*/
/*-----------------------------------------------------------
		SNS
-----------------------------------------------------------*/
/*#sns h2{
	margin:0 auto;
	width:224px;
	margin-bottom:30px;
	text-align: center
}*/

/*-----------------------------------------------------------
		社員コース/PROJECT STORY
-----------------------------------------------------------*/


/*-----------------------------------------------------------
		求人情報
-----------------------------------------------------------*/



/*-----------------------------------------------------------
		会社情報
-----------------------------------------------------------*/



/*-----------------------------------------------------------
		アイコン
-----------------------------------------------------------*/


/*-----------------------------------------------------------
		リニューアル追記ｃｓｓ
-----------------------------------------------------------*/
.mb40{
	margin-bottom: 	40px !important
}
/*-----------------------------------------------------------
		お知らせ
-----------------------------------------------------------*/
/*-----------------------------------------------------------
		フッター
-----------------------------------------------------------*/
#footer{
	text-align:center;	
	background-color:#fc3;
	margin-top: 60px;
}
/*#footer-nav{
	position:relative;
}
#footer-nav ul{
	position:absolute;
	left:50%;
	margin-left:-26.0em;
}
#footer-nav li{
	float:left;
	margin:0 2.0em;
}*/
/*-- コピーライト --*/

/*-- トップページメイン画像 --*/




@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
